body {
    background-color: lightgreen;
    color: black;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }
header {
    display: flex;
    justify-content: right;
    align-items: right;
    padding: 20px;
    background-color: lightcyan;
    color: black;
  }
  h1 {
    text-align: left;
    color: black;
  }
  
  h2 {
    text-align: center;
  }
  
  .container {
    text-align: center;
    padding: 20px;
  }
  
  figure {
    display: inline-block;
    margin: 10px;
    border: 5px solid black;
    overflow: hidden;
  }
  
  figure img {
    width: 200px; /* set a fixed width */
    height: 200px; /* set a fixed height */
    object-fit: contain; /* ensure the image is scaled to fit the container */
  }
  
  figure p {
    text-align: center;
    margin: 10px 0;
    color: black;
  }
  
  nav {
    display: flex;
    justify-content: right;
    align-items: right;
    padding: 20px;
    background-color: lightcyan;
    color: black;
  }
  
  nav a {
    margin: 0 10px;
    text-decoration: none;
    color: black;
  }
  
  footer {
    background-color: lightcyan;
    color: black;
    padding: 10px;
    text-align: center;
    clear: both;
  }
  
  footer p {
    margin: 0;
  }