/* temples.css */

/* Global Styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
  }
  
  header h1 {
    margin: 0;
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  figure {
    margin: 20px;
    width: 30%;
  }
  
  figure img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  figcaption {
    font-size: 18px;
    color: #333;
    text-align: center;
    padding: 10px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
    clear: both;
  }
  
  footer p {
    margin: 0;
  }
  
  /* Navigation Menu Styles */
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
  }
  
  nav a:hover {
    color: #ccc;
  }
  
  /* Hamburger Menu Styles */
  
  .hamburger {
    display: none; /* Hide the hamburger button on larger screens */
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #fff;
    border: none;
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
  }
  
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  nav.open {
    display: block;
  }
  
  nav a {
    display: block;
    margin-bottom: 10px;
  }
  
  /* Media Queries */
  
  @media only screen and (max-width: 767px) {
   .hamburger {
      display: block;
    }
    nav {
      display: none; /* Hide the navigation menu on smaller screens */
    }
    nav.open {
      display: block;
    }
    figure {
      width: 100%;
    }
  }
  
  @media only screen and (min-width: 768px) {
    /* temples-large.css */
    figure {
      width: 20%;
    }
  }